<section class="big-blog">
	<!-- big part of blog -->
	<div class="container big-blog-container">
		<article class="big-blog-article-item">
			<div class="article-item-content">
				<time>Travel / 21st March, 2014</time>
				<h3 class="article-item-title">A New Product Is Coming</h3>
				<p class="article-item-text">
					The office assistant was the boss's man, spineless, and with no understanding. What about if he reported sick? But that would be extremely strained and suspicious as in fifteen years of service Gregor had never.
				</p>
			</div>
			<figure class="article-item-img">
				<img src="images/pics/blog1.png" alt="">
			</figure>
		</article>
		<article class="big-blog-article-item">
			<div class="article-item-content">
				<time>Gadget / 3rd March, 2014</time>
				<h3 class="article-item-title">Jimmy’s New Xbox Controller</h3>
				<p class="article-item-text">
					The office assistant was the boss's man, spineless, and with no understanding. What about if he reported sick? But that would be extremely strained and suspicious as in fifteen years of service Gregor had never.
				</p>
			</div>
			<figure class="article-item-img">
				<img src="images/pics/blog2.png" alt="">
			</figure>
		</article>
		<article class="big-blog-article-item">
			<div class="article-item-content">
				<time>Travel / 21st March, 2014</time>
				<h3 class="article-item-title">A New Product Is Coming </h3>
				<p class="article-item-text">
					The office assistant was the boss's man, spineless, and with no understanding. What about if he reported sick? But that would be extremely strained and suspicious as in fifteen years of service Gregor had never.
				</p>
			</div>
			<figure class="article-item-img">
				<img src="images/pics/blog3.png" alt="">
			</figure>
		</article>
	</div>
</section>
	<!-- small part of blog -->
<section class="small-blog">
	<div class="container small-blog-container owl-carousel owl-theme">
		<div class="small-blog-item">
			<h4 class="small-blog-item-title">Another Day In Paradise</h4>
			<time>Travel / 21st March, 2014</time>
		</div>
		<div class="small-blog-item">
			<h4 class="small-blog-item-title">Jimmy’s New Book on Aliens</h4>
			<time>Personal / 21st March, 2014</time>
		</div>
		<div class="small-blog-item">
			<h4 class="small-blog-item-title">Sarah’s New House</h4>
			<time>Personal / 21st March, 2014</time>
		</div>
		<div class="small-blog-item">
			<h4 class="small-blog-item-title">Another Day In Paradise</h4>
			<time>Travel / 21st March, 2014</time>
		</div>
		<div class="small-blog-item">
			<h4 class="small-blog-item-title">Another Day In Paradise</h4>
			<time>Travel / 21st March, 2014</time>
		</div>
	</div>
</section>
<!-- tweet -->
<section class="tweet">
	<div class="container tweet-container">
		<figure class="tweet-logo-img">
			<img src="images/icons/twitter.png" alt="">
		</figure>
		<figure class="tweet-author-img">
			<img src="images/pics/author2.png" alt="">
		</figure>
		<blockquote class="tweet-author-quotation">
			Happiness cannot be traveled to, owned, earned, or worn. It is the spiritual experience of living every minute with love, grace & gratitude.
		</blockquote>
		<p class="tweet-author-name">@loveless</p>
	</div>
</section>