<!-- clients -->
<section class="clients">
	<div class="container clients-container">
		<h2 class="clients-title">Clients</h2>
		<!-- here is slider -->
		<div class="clients-slider owl-carousel owl-theme">	
			<figure class="clients-list">
				<img src="images/pics/slider1.png" alt="">
			</figure>
			<figure class="clients-list">
				<img src="images/pics/slider2.png" alt="">
			</figure>
		</div>
	</div>
</section>
<!-- portfolio -->
<section class="portfolio">
	<div class="container portfolio-container">
		<header class="portfolio-header">
			<h2 class="portfolio-header-title">Portfolio & Screenshots</h2>
			<p class="portfolio-header-text">
				The gentlemen who rented the room would sometimes take their evening meal at home in the living room that was used by everyone, and so the door to this room was often kept closed in the
			</p>
		</header>
		<menu class="portfolio-menu">
			<a href="">Art</a>
			<a href="">Mystery</a>
			<a href="">Illusion</a>
			<a href="">Travel</a>
			<a href="">Paintings</a>
		</menu>
	</div>
		<div class="portfolio-slider owl-carousel owl-theme" >
			<figure class="portfolio-item">
				<img src="images/pics/temp1.png" alt="">
			</figure>
			<figure class="portfolio-item">
				<img src="images/pics/temp2.png" alt="">
			</figure>
			<figure class="portfolio-item">
				<img src="images/pics/temp3.png" alt="">
			</figure>
			<figure class="portfolio-item">
				<img src="images/pics/temp4.png" alt="">
			</figure>
	</div>
</section>