<!-- footer -->
<footer class="footer">
	<section class="container footer-container">
		<div class="footer--flex">
			<div class="footer-feedback">
				<h3 class="footer-feedback-title">Unicorn</h3>
				<p class="footer-feedback-text">
					One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin. He lay on his
				</p>
				<form action="" method="" class="footer-feedback-form">
					<input type="text" class="feedback-form__email" placeholder="email">
					<input type="text" class="feedback-form__subject" placeholder="subject">
					<!-- <input type="text" class="feedback-form__message" placeholder="message"> -->
					<textarea name="message" id="" cols="64" rows="1" class="feedback-form__message" placeholder="message"></textarea>
					<button class="footer-feedback-form__btn">send</button>
				</form>
			</div>
			<div class="footer-map">
				<div class="footer-map-item">
					<h4 class="footer-map-item__title">Links</h4>
					<nav class="footer-map-item__menu">
						<a href="" class="footer-map-item__link">Home</a>
						<a href="" class="footer-map-item__link">About</a>
						<a href="" class="footer-map-item__link">Services</a>
						<a href="" class="footer-map-item__link">Menu</a>
						<a href="" class="footer-map-item__link">Restaurants</a>
						<a href="" class="footer-map-item__link">Work Hours</a>
						<a href="" class="footer-map-item__link">Call Hours</a>
					</nav>
				</div>
				<div class="footer-map-item">
					<h4 class="footer-map-item__title">Friends</h4>
					<nav class="footer-map-item__menu">
						<a href="" class="footer-map-item__link">Home</a>
						<a href="" class="footer-map-item__link">About</a>
						<a href="" class="footer-map-item__link">Services</a>
						<a href="" class="footer-map-item__link">Menu</a>
						<a href="" class="footer-map-item__link">Restaurants</a>
					</nav>
				</div>
				<div class="footer-map-item">
					<h4 class="footer-map-item__title">Social</h4>
					<nav class="footer-map-item__menu">
						<a href="" class="footer-map-item__link">Facebook</a>
						<a href="" class="footer-map-item__link">Twitter</a>
						<a href="" class="footer-map-item__link">Github</a>
						<a href="" class="footer-map-item__link">Pinterest</a>
						<a href="" class="footer-map-item__link">Google Plus</a>
						<a href="" class="footer-map-item__link">Dribble</a>
						<a href="" class="footer-map-item__link">Flickr</a>
						<a href="" class="footer-map-item__link">Others</a>
					</nav>
				</div>
			</div>
		</div>
		<div class="footer-signature">
			<p class="footer-signature__text">
				One morning, when Gregor Samsa woke from troubled dreams, he found<br>© 2015 Your Awesome Company
			</p>
			<nav class="footer-signature__menu">
				<a href="" class="footer-signature__menu-link">Terms</a>
				<a href="" class="footer-signature__menu-link">Privacy Policy</a>
				<a href="" class="footer-signature__menu-link">Contact</a>
				<a href="" class="footer-signature__menu-link">Job</a>
			</nav>
		</div>
	</section>
</footer>