<!-- header -->
<header class="header">
	<section class="container header-container">
		<div class="header-menu">
			<p class="header-menu-title">Unicorn</p>
			<nav class="nav-header-menu">
				<a href="" class="nav-header-menu-item">Home</a>
				<a href="" class="nav-header-menu-item">About</a>
				<a href="" class="nav-header-menu-item">Stories</a>
				<a href="" class="nav-header-menu-item">Hello</a>
			</nav>
		</div>
		<div class="header-content">
			<h1 class="header-content-title">Storyteller</h1>
			<p class="header-content-text">
				One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin. He lay on his armour-like back, and if he lifted his head a little he could see his brown belly, slightly domed and divided by arches into stiff sections.
			</p>
			<a href="#intro" class="header-content-link">read the rest</a>
		</div>
	</section>
</header>
<!-- intro -->
<section class="intro" id="intro">
	<div class="container intro-container">
		<figure class="intro-image">
			<img src="images/icons/broccoli.png" alt="">
		</figure>
		<h2 class="intro-title">Who & Why</h2>
		<p class="intro-text">
			The gentlemen who rented the room would sometimes take their evening meal at home in the living room that was used by everyone, and so the door to this room was often kept closed in the evening. But Gregor found it easy to give up having the door open, he had, after all, often failed to make use of it when it was open and, without the family having noticed it, lain in his room in its darkest corner. One time, though, the charwoman left the door.
		</p>
	</div>
</section>