<!-- quote -->
<section class="quote">
	<div class="container quote-container">
		<figure class="quote-comas">
			<img src="images/icons/comas.png" alt="">
		</figure>
		<blockquote class="quote-text">
			Happiness cannot be traveled to, owned, earned, or worn. It is the spiritual experience of living every minute with love, grace & gratitude.
		</blockquote>
		<p class="quote-author">Denis Waitley</p>
	</div>
</section>
<!-- team -->
<section class="team">
	<div class="container team-container">
		<header class="team-header">
			<h2 class="team-header-title">Team Members</h2>
			<p class="team-header-text">
				The gentlemen who rented the room would sometimes take their evening meal at home in the living room that was used by everyone, and so the door to this room was often kept closed in the
			</p>
		</header>
		<div class="team-list">
			<figure class="team-member-item">
				<img src="images/pics/member1.png" alt="">
				<figcaption>
					<p class="team-member-name">James Philly</p>
					<p class="team-member-position">Lead Developer</p>
				</figcaption>
			</figure>
			<figure class="team-member-item">
				<img src="images/pics/member2.png" alt="">
				<figcaption>
					<p class="team-member-name">Cactus Jack</p>
					<p class="team-member-position">3D Model Designer</p>
				</figcaption>
			</figure>
			<figure class="team-member-item">
				<img src="images/pics/member3.png" alt="">
				<figcaption>
					<p class="team-member-name">Jack Sparrow</p>
					<p class="team-member-position">Master of All Trade</p>
				</figcaption>
			</figure>
			<figure class="team-member-item">
				<img src="images/pics/member4.png" alt="">
				<figcaption>
					<p class="team-member-name">Yaga Squarehead</p>
					<p class="team-member-position">Manages Money</p>
				</figcaption>
			</figure>
		</div>
	</div>
</section>
<!-- facts -->
<section class="facts">
	<div class="container facts-container">
		<h2 class="facts-title">Facts & Numbers</h2>
		<div class="facts-block">
			<div class="facts-item">
				<p class="facts-item-number">110</p>
				<p class="facts-item-text">successful projects</p>
			</div>
			<div class="facts-item">
				<p class="facts-item-number">25</p>
				<p class="facts-item-text">awesome clients</p>
			</div>
			<div class="facts-item">
				<p class="facts-item-number">30</p>
				<p class="facts-item-text">open source plugins</p>
			</div>
			<div class="facts-item">
				<p class="facts-item-number">13</p>
				<p class="facts-item-text">open source themes</p>
			</div>
		</div>
	</div>
</section>