<!-- services -->
<section class="services">
	<div class="container services-container">
		<div class="services-item">
			<figure class="services-image">
				<img src="images/icons/clock.png" alt="">
			</figure>
			<h3 class="services-title">An Wow Feature</h3>
			<p class="services-text">
				The gentlemen who rented the room would sometimes take their evening meal at home in the living.
			</p>
		</div>
		<div class="services-item">
			<figure class="services-image">
				<img src="images/icons/vector.png" alt="">
			</figure>
			<h3 class="services-title">A Beautiful Feature</h3>
			<p class="services-text">
				The gentlemen who rented the room would sometimes take their evening meal at home in the living.
			</p>
		</div>
		<div class="services-item">
			<figure class="services-image">
				<img src="images/icons/land-working.png" alt="">
			</figure>
			<h3 class="services-title">An Amazing Feature</h3>
			<p class="services-text">
				The gentlemen who rented the room would sometimes take their evening meal at home in the living.
			</p>
		</div>
	</div>
</section>
<!-- features -->
<section class="feature">
	<div class="container feature-container">
		<header class="feature-header">
			<h2 class="feature-header-title">Featured Articles</h2>
			<p class="feature-header-text">
				The gentlemen who rented the room would sometimes take their evening meal at home in the living room that was used by everyone, and so the door to this room was often kept closed in the
			</p>
		</header>
		<div class="feature-slider owl-carousel owl-theme">
			<div class="feature-item">
				<div>	
					<h4 class="feature-item-title">comic</h4>
					<p class="feature-item-text">
						A million ways to die in the wild wild wild west
					</p>
				</div>
				<div class="feature-author">
					<figure class="feature-author-img">
						<img src="images/pics/author1.png" alt="jimmy jefferson">
					</figure>
					<p class="feature-author-name">jimmy jefferson</p>
					<p class="feature-author-date">21/08/2013</p>
				</div>
			</div>
			<div class="feature-item">
				<div>	
					<h4 class="feature-item-title">lifestyle</h4>
					<p class="feature-item-text">
						The most comfortable chair comes with no backpain
					</p>
				</div>
				<div class="feature-author">
					<figure class="feature-author-img">
						<img src="images/pics/author2.png" alt="Gail Gutierrez">
					</figure>
					<p class="feature-author-name">Gail Gutierrez</p>
					<p class="feature-author-date">21/08/2013</p>
				</div>
			</div>
			<div class="feature-item">
				<div>	
					<h4 class="feature-item-title">travel</h4>
					<p class="feature-item-text">
						journey to the center of the earth with jefferson 
					</p>
				</div>	
				<div class="feature-author">
					<figure class="feature-author-img">
						<img src="images/pics/author3.png" alt="mason johnston">
					</figure>
					<p class="feature-author-name">mason johnston</p>
					<p class="feature-author-date">21/08/2013</p>
				</div>
			</div>
			<div class="feature-item">
				<div>	
					<h4 class="feature-item-title">comic</h4>
					<p class="feature-item-text">
						A million ways to die in the wild wild wild west
					</p>
				</div>
				<div class="feature-author">
					<figure class="feature-author-img">
						<img src="images/pics/author1.png" alt="jimmy jefferson">
					</figure>
					<p class="feature-author-name">jimmy jefferson</p>
					<p class="feature-author-date">21/08/2013</p>
				</div>
			</div>
			<div class="feature-item">
				<div>
					<h4 class="feature-item-title">comic</h4>
					<p class="feature-item-text">
						A million ways to die in the wild wild wild west
					</p>
				</div>
				<div class="feature-author">
					<figure class="feature-author-img">
						<img src="images/pics/author1.png" alt="jimmy jefferson">
					</figure>
					<p class="feature-author-name">jimmy jefferson</p>
					<p class="feature-author-date">21/08/2013</p>
				</div>
			</div>
		</div>
	</div>
</section>